*{
    margin: 0px;
    padding: 0px;
    background-color: white ;
}

header nav {
text-align: center;
padding: 40px;
background-color: #bbbbbb;

}

nav a{
font-size: 30px;
padding: 10px;
text-decoration: none;
color: #f18706;
font-weight: bold;
}

nav a:hover{
    background-color: black;
}




.cover {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    background-image: url(sabit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    padding-top: 50px;
}



.images img{
    height: 300px;
    width: 300px;
}